.accordion {
  background-color: white;
  outline: 1px solid #e6e6e6;
  width: 375px;
  height: fit-content;
}

.item {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding: 4px 0;
}

.item:not(:first-child) {
  border-top: 1px solid #eee;
}

.itemTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 500;
  padding: 4px;
}

.itemTitle:hover {
  background-color: #eee;
}

.itemContent {
  font-size: 14px;
  line-height: 1.2;
  padding: 4px;
}

.icon {
  border: solid currentcolor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 8px;
  pointer-events: none;
  transform: translateY(-2px) rotate(45deg);
  width: 8px;
}

.iconRotated {
  transform: translateY(2px) rotate(-135deg);
}
